<header class="site-header">

  <div class="wrapper row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <a class="site-title" href="/"><img src="/img/tb-logo.png" width="60"></a>
      </div>
      <div class="col-xs-9">
        <nav class="site-nav">
          <a id="simple-menu" href="#sidr"><span class="icon-hamburger-menu"></span> </a>
          <div id="sidr" class="nav">
            <span class="icon-big-x close"></span>
            <ul>
              <li>
                <a class="case-studies" href="/case-studies">Case Studies</a>
              </li>
              <li>
                <a class="design-work" href="/design-work">Work</a>
              </li>
              <li>
                <a class="hobbies" href="/hobbies">Play</a>
              </li>
              <li>
                <a class="about" href="/about">Contact</a>
              </li>
            </ul>
          </div>
          <div class="trigger row nav">
            <a class="case-studies col-xs-3 page-link" href="/case-studies">Case Studies</a>
            <a class="design-work col-xs-3 page-link" href="/design-work">Work</a>
            <a class="hobbies col-xs-3 page-link" href="/hobbies">Play</a>
            <a class="about col-xs-3 page-link" href="/about">Contact</a>
          </div>
        </nav>
      </div>
    </div>

  </div>

</header>
