<header class="site-header">

  <div class="wrapper row">
    <div class="col-md-1">
      <a class="site-title" href="/"><img src="/img/tb-logo.png" width="60"></a>
    </div>
    <div class="col-md-11">
      <nav class="site-nav">
        <a id="simple-menu" href="#sidr">Toggle menu</a>
        <div id="sidr">
          <!-- Your content -->
          <ul>
            <li>
              <a class="" href="/case-study">Case Studies</a>
            </li>
            <li>
              <a class="" href="/design-work">Work</a>
            </li>
            <li>
              <a class="" href="/hobbies">Play</a>
            </li>
            <li>
              <a class="" href="/about">Contact</a>
            </li>
          </ul>
        </div>
        <div class="trigger row">
          <a class="col-xs-3 page-link" href="/case-study">Case Studies</a>
          <a class="col-xs-3 page-link" href="/design-work">Work</a>
          <a class="col-xs-3 page-link" href="/hobbies">Play</a>
          <a class="col-xs-3 page-link" href="/about">Contact</a>
        </div>
      </nav>
    </div>

  </div>

</header>
