@import "vendor/bootstrap/mixins";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins/grid";
@import "vendor/bootstrap/grid";

.hero {
  color: #ffffff;
  padding: $spacing-unit 20% $spacing-unit * 2;
  background: #0e1823;
}

#topNav {
  margin-bottom: $spacing-unit;
  color: $brand-color;
  font-size: 1.5em;
  a:hover {
    text-decoration: underline;
  }
  .site-title {
    margin-right: 1em;
  }
}

.content-wrapper {
  padding: $spacing-unit 20%;
  h2, h3 {
    margin: 0 !important;
  }
}

.full-width {
  background: #0e1823;
  h2, p {
    color: lighten($brand-color, 30%);
  }
  h4 {
    color: $brand-color !important;
  }
  &, strong {
    color: #ffffff;
  }
}