@import "vendor/bootstrap/mixins";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins/grid";
@import "vendor/bootstrap/grid";

.home {
}

.hero {
  color: #ffffff;
  min-height: 100vh;
  padding: $spacing-unit * 4;
}

.main-content {
}
