@import "vendor/bootstrap/mixins";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins/grid";
@import "vendor/bootstrap/grid";

.home {
}

#topNav {
  margin-bottom: $spacing-unit;
  color: $brand-color;
  font-size: 1.5em;
  a:hover {
    text-decoration: underline;
  }
  .site-title {
    margin-right: 1em;
  }
}

.main-content {

}
