.case-study {
  .hero {
    color: $brand-color;
    text-align: center;
  }
  .content-wrapper {
    max-width: 80em;
    a h2 {
      color: #414042;
    }
    h2 {
      margin-bottom: 0.5rem;
    }
    h4 {
      color: #888888;
      line-height: 1.2;
    }
    img {
      margin: $spacing-unit auto;
      display: block;
      text-align: center;
      width: 100%;
    }
    ul {
      margin: 1rem 0 3rem;
      border-radius: 8px;
      background-color: #f7f7f7;
      padding: 1rem 2rem 1rem 3rem;
      list-style-type: circle;
    }
  }
}

.mobi-website {
  &.hero {
    background: url('/img/hero-bg.jpg') no-repeat;
    background-size: 100%;
    min-height: 500px;
    color: #414042;
  }
}

ul.negative {
  background-color: rgba(255, 134, 97, 0.125) !important;
}
ul.positive {
  background-color: rgba(158, 192, 35, 0.12) !important;
}

section.color {
  background-color: #f7f7f7;
}

.thumbnail {
  img {
    border: 1px solid #eaeaea;
  }
  &:hover img {
    opacity: 0.3;
  }
}

.case-study .description {
  padding-top: 2rem;
  h1 {
    font-family: 'proxima-nova-soft', 'Proxima Nova Soft', 'Arial', sans-serif;
  }
}

//.case-study {
//  &.routing {
//    background: url('/img/case-study-route-bg.jpg') no-repeat;
//    background-size: 100%;
//  }
//
//  &.website {
//    background: url('/img/hero-bg.jpg') no-repeat;
//  }
//}