.default {

  .hero {
    color: $brand-color;
    text-align: center;
  }

  .read-more {
    font-size: $base-font-size * 1.5;
    display: block;
  }

  .chocolat-parent {
    text-align: left;
  }

  .mobile-only {
    text-align: center;
    font-size: 4rem;
    margin: 3rem 0 0;
  }

  h1 {
    font-family: 'proxima-nova-soft', 'Proxima Nova Soft', 'Arial', sans-serif;
  }

}

section .main-image {
  display: block;
  margin-top: $spacing-unit * 2;
}

.tag-cloud {
  background-color: $brand-color;
  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline-block;
    }
  }
  .tag {
    background-color: rgba(255, 255, 255, 0.075);
    &.selected, &:hover {
      background-color: rgba(255, 255, 255, 0.4);
      cursor: pointer;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.tag {
  background-color: rgba($brand-color, 0.4);
  color: #ffffff;
  display: inline-block;
  padding: $spacing-unit * 0.1 $spacing-unit * 0.3;
  margin: $spacing-unit * 0.2 $spacing-unit * 0.1;
  font-size: $base-font-size * 0.875;
}

.filtered {
  background-color: $brand-color;
}

.design-work p {
  font-size: $base-font-size * 0.875;
}

