.default {
  .hero {
    color: $brand-color;
    text-align: center;
  }
  .read-more {
    font-size: $base-font-size * 1.5;
    display: block;
  }
  .chocolat-parent {
    text-align: left;
  }
}

section .main-image {
  display: block;
  margin-top: $spacing-unit * 2;
}

#tagCloudUl {
  list-style-type: none;
  li {
    display: inline-block;
  }
}

.tag {
  background-color: rgba($brand-color, 0.6);
  color: #ffffff;
  display: inline-block;
  padding: $spacing-unit * 0.1 $spacing-unit * 0.3;
  margin-right: $spacing-unit * 0.25;
  margin-bottom: $spacing-unit;
  font-size: $base-font-size * 0.875;
  &:hover {
    background-color: rgba($brand-color, 0.7);
  }
  &.selected {
    background-color: $brand-color;
  }
}
