.jump-nav {
  position: absolute;
  right: 5%;
}

#calendar {
  max-width: 90%;
  margin: 1rem auto;
}

.fc-toolbar h2, .fc .fc-toolbar>*>* {
  display: inline-block;
  float: none !important;
}

.fc-toolbar h2 {
  margin: 0 20px;
  width: 250px;
}

.fc .fc-toolbar button {
  border-radius: 0;
  background: #eee;
  margin: 10px 5px !important;
  height: 36px !important;
  width: 36px;
  box-shadow: none;
  top: -8px;
  &:hover {
    background: darken(#eee, 10%);
    cursor: pointer;
  }
}

.fc-content-skeleton {
  position: relative;
  padding: 0 !important;
  font-size: 2em;
  a {
    display: block;
    &:hover img {
      opacity: 0.5;
    }
  }
  img {
    width: 98.5%;
    position: relative;
    z-index: -1;
    margin: 1% auto;
  }
}

[class^="fc-"] {
  height: auto !important;
  border-collapse: none;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.fc-day-number {
  position: relative;
}

.date-number {
  position: absolute;
  right: 10px;
  top: -2px;
  &.visible {
    color: #ffffff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  }
  @include media-query($on-palm) {
    display: none;
  }
}

.insta-description {
  font-size: 0.75em;
  line-height: 1.5;
  padding: 3% 6%;
  display: block;
  @include media-query($on-palm) {
    display: none;
  }
}

.twinsies img {
  width: 50%;
}

.calendar-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  &, * {
    box-sizing: border-box;
  }
}

#this-day {
  text-align: center;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}