@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?i402gr');
	src:url('../../fonts/icomoon.eot?i402gr#iefix') format('embedded-opentype'),
		url('../../fonts/icomoon.ttf?i402gr') format('truetype'),
		url('../../fonts/icomoon.woff?i402gr') format('woff'),
		url('../../fonts/icomoon.svg?i402gr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tb-logo:before {
  content: "\e90c";
}
.icon-party-icon:before {
  content: "\e90f";
}
.icon-big-x:before {
  content: "\e90b";
}
.icon-hamburger-menu:before {
  content: "\e90a";
}
.icon-me-1:before {
  content: "\e908";
}
.icon-me-2:before {
  content: "\e909";
}
.icon-logo-1:before {
  content: "\e900";
}
.icon-logo-2:before {
  content: "\e901";
}
.icon-photos-1:before {
  content: "\e902";
}
.icon-photos-2:before {
  content: "\e903";
}
.icon-skills-1:before {
  content: "\e904";
}
.icon-skills-2:before {
  content: "\e905";
}
.icon-ux-1:before {
  content: "\e906";
}
.icon-ux-2:before {
  content: "\e907";
}

