.button {
  padding: $spacing-unit * 0.5;
  color: #ffffff;
  background-color: $brand-color;
  display: block;
  text-align: center;
  margin: $spacing-unit auto;
  font-size: $base-font-size * 1.5;
  &:hover {
    background-color: $dark-brand-color;
    color: #ffffff;
    text-decoration: none;
  }
}