header {
  //border-bottom: 8px solid #414042;
}

.site-nav {
  text-align: right;
}

.page-link {
  padding: 1.2em 2em;
  display: inline-block;
  text-align: center;
}

.trigger .active {
  text-decoration: underline;
  font-weight: bolder;
}

#sidr {
  a {
    padding: 1rem;
    display: block;
    &.active {
      background-color: $brand-color;
      color: #ffffff;
    }
  }

  .close {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: $brand-color;
  }

  ul {
    list-style-type: none;
    font-size: 2rem;
    li {
      display: block;
      &:hover {
        background-color: $brand-color;
        a {
          color: #ffffff !important;
          text-decoration: none;
        }
      }
    }
  }
}

#simple-menu {
  display: none;
}

@include media-query($on-palm) {

  #simple-menu {
    display: inline-block;
  }
  .trigger {
    display: none;
  }
}


a#simple-menu {
  z-index: 9999;
}
.sidr-open .sidr {
  width: 100vw;
  border-right: 10px solid $brand-color;
  background: #ffffff;
  padding: $spacing-unit;
}
