header {
  //border-bottom: 8px solid #414042;
}

.site-nav {
  text-align: right;
}

.page-link {
  padding: 1.2em 2em;
  display: inline-block;
}

#simple-menu {
  display: none;
}

@include media-query($on-palm) {
  
  #simple-menu {
    display: inline-block;
  }
  .trigger {
    display: none;
  }
}